#news-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 90px;

  font-family: sans-serif;
  text-align: center;
  background-color: #000;
}

/* Стили для карточки */
.news-card {
  width: 300px; /* Ширина карточки */
  border: 1px solid #ff9900; /* Граница карточки */
  border-radius: 8px; /* Закругленные углы */
  overflow: hidden; /* Переполнение скрыто, чтобы обеспечить закругленные углы */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #222; /* Тень для эффекта поднятия */
  margin: 16px; /* Внешний отступ для разделения карточек */
  padding: 8px;
}

/* Стили для изображения внутри карточки */
.news-card img {
  width: 100%; /* Изображение занимает 100% ширины карточки */
  height: auto;
  border-radius: 5px; /* Автоматическая высота для поддержки соотношения сторон */
}

/* Стили для заголовка внутри карточки */
.news-card h2 {
  font-weight: 700;
  font-size: 24px; /* Размер шрифта заголовка */
  margin: 10px 0; /* Внутренний отступ сверху и снизу заголовка */
}

/* Стили для абзаца внутри карточки */
.news-card p {
  font-size: 1em; /* Размер шрифта абзаца */
  color: #555; /* Цвет текста */
  margin: 8px 0; /* Внутренний отступ сверху и снизу абзаца */
}




